Easy/servicetrasmission/servicetrasmission_default/Service References/ServicePerla/anp2018.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://perlapa.gov.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://perlapa.gov.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://perlapa.gov.it/">
      <s:element name="inserimentoIncarico_Dipendente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inserimentoIncarico_DipendenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inserimentoIncarico_DipendenteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="variazioneIncarico_Dipendente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="variazioneIncarico_DipendenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variazioneIncarico_DipendenteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inserimentoIncarico_Consulente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inserimentoIncarico_ConsulenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inserimentoIncarico_ConsulenteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="variazioneIncarico_Consulente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="variazioneIncarico_ConsulenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="variazioneIncarico_ConsulenteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancellazioneIncarico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:any minOccurs="0" maxOccurs="1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancellazioneIncaricoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancellazioneIncaricoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="inserimentoIncarico_DipendenteSoapIn">
    <wsdl:part name="parameters" element="tns:inserimentoIncarico_Dipendente" />
  </wsdl:message>
  <wsdl:message name="inserimentoIncarico_DipendenteSoapOut">
    <wsdl:part name="parameters" element="tns:inserimentoIncarico_DipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="variazioneIncarico_DipendenteSoapIn">
    <wsdl:part name="parameters" element="tns:variazioneIncarico_Dipendente" />
  </wsdl:message>
  <wsdl:message name="variazioneIncarico_DipendenteSoapOut">
    <wsdl:part name="parameters" element="tns:variazioneIncarico_DipendenteResponse" />
  </wsdl:message>
  <wsdl:message name="inserimentoIncarico_ConsulenteSoapIn">
    <wsdl:part name="parameters" element="tns:inserimentoIncarico_Consulente" />
  </wsdl:message>
  <wsdl:message name="inserimentoIncarico_ConsulenteSoapOut">
    <wsdl:part name="parameters" element="tns:inserimentoIncarico_ConsulenteResponse" />
  </wsdl:message>
  <wsdl:message name="variazioneIncarico_ConsulenteSoapIn">
    <wsdl:part name="parameters" element="tns:variazioneIncarico_Consulente" />
  </wsdl:message>
  <wsdl:message name="variazioneIncarico_ConsulenteSoapOut">
    <wsdl:part name="parameters" element="tns:variazioneIncarico_ConsulenteResponse" />
  </wsdl:message>
  <wsdl:message name="cancellazioneIncaricoSoapIn">
    <wsdl:part name="parameters" element="tns:cancellazioneIncarico" />
  </wsdl:message>
  <wsdl:message name="cancellazioneIncaricoSoapOut">
    <wsdl:part name="parameters" element="tns:cancellazioneIncaricoResponse" />
  </wsdl:message>
  <wsdl:portType name="anp2018Soap">
    <wsdl:operation name="inserimentoIncarico_Dipendente">
      <wsdl:input message="tns:inserimentoIncarico_DipendenteSoapIn" />
      <wsdl:output message="tns:inserimentoIncarico_DipendenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="variazioneIncarico_Dipendente">
      <wsdl:input message="tns:variazioneIncarico_DipendenteSoapIn" />
      <wsdl:output message="tns:variazioneIncarico_DipendenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="inserimentoIncarico_Consulente">
      <wsdl:input message="tns:inserimentoIncarico_ConsulenteSoapIn" />
      <wsdl:output message="tns:inserimentoIncarico_ConsulenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="variazioneIncarico_Consulente">
      <wsdl:input message="tns:variazioneIncarico_ConsulenteSoapIn" />
      <wsdl:output message="tns:variazioneIncarico_ConsulenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancellazioneIncarico">
      <wsdl:input message="tns:cancellazioneIncaricoSoapIn" />
      <wsdl:output message="tns:cancellazioneIncaricoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="anp2018Soap" type="tns:anp2018Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inserimentoIncarico_Dipendente">
      <soap:operation soapAction="http://perlapa.gov.it/inserimentoIncarico_Dipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="variazioneIncarico_Dipendente">
      <soap:operation soapAction="http://perlapa.gov.it/variazioneIncarico_Dipendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserimentoIncarico_Consulente">
      <soap:operation soapAction="http://perlapa.gov.it/inserimentoIncarico_Consulente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="variazioneIncarico_Consulente">
      <soap:operation soapAction="http://perlapa.gov.it/variazioneIncarico_Consulente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancellazioneIncarico">
      <soap:operation soapAction="http://perlapa.gov.it/cancellazioneIncarico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="anp2018Soap12" type="tns:anp2018Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inserimentoIncarico_Dipendente">
      <soap12:operation soapAction="http://perlapa.gov.it/inserimentoIncarico_Dipendente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="variazioneIncarico_Dipendente">
      <soap12:operation soapAction="http://perlapa.gov.it/variazioneIncarico_Dipendente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserimentoIncarico_Consulente">
      <soap12:operation soapAction="http://perlapa.gov.it/inserimentoIncarico_Consulente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="variazioneIncarico_Consulente">
      <soap12:operation soapAction="http://perlapa.gov.it/variazioneIncarico_Consulente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancellazioneIncarico">
      <soap12:operation soapAction="http://perlapa.gov.it/cancellazioneIncarico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="anp2018">
    <wsdl:port name="anp2018Soap" binding="tns:anp2018Soap">
      <soap:address location="http://servizi.perlapa.gov.it/wsanp2018/ws/anp2018.asmx" />
    </wsdl:port>
    <wsdl:port name="anp2018Soap12" binding="tns:anp2018Soap12">
      <soap12:address location="http://servizi.perlapa.gov.it/wsanp2018/ws/anp2018.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>