Easy/unmanaged/pagoPaService/pagoPaService/Service References/bsondrio1_1/FaultSchema_v81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:testata="http://schema.testata.common.ws.popso.it/v8" xmlns:tns="http://schema.fault.testata.common.ws.popso.it/v8" xmlns:tipi-testata="http://schema.tipi.testata.common.ws.popso.it/v8" targetNamespace="http://schema.fault.testata.common.ws.popso.it/v8" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../TestataSchema_v8.0.xsd" namespace="http://schema.testata.common.ws.popso.it/v8" />
  <xsd:import schemaLocation="../TipiTestataSchema_v8.0.xsd" namespace="http://schema.tipi.testata.common.ws.popso.it/v8" />
  <xsd:complexType name="InputFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApplicationFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SystemFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatiTestataFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DubbiaRisottomissibileFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DubbiaNonRisottomissibileFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DubbiaRisottomissibileConInterventoManualeFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServizioNonDisponibileFault">
    <xsd:sequence>
      <xsd:element name="testata" type="testata:TestataOutput" />
      <xsd:element name="codice" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="messaggio" type="tipi-testata:StringaNonVuota" />
      <xsd:element name="layer" type="tipi-testata:StringaNonVuota" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="applicationFault" type="tns:ApplicationFault" />
  <xsd:element name="datiTestataFault" type="tns:DatiTestataFault" />
  <xsd:element name="inputFault" type="tns:InputFault" />
  <xsd:element name="servizioNonDisponibileFault" type="tns:ServizioNonDisponibileFault" />
  <xsd:element name="systemFault" type="tns:SystemFault" />
  <xsd:element name="dubbiaRisottomissibileFault" type="tns:DubbiaRisottomissibileFault" />
  <xsd:element name="dubbiaNonRisottomissibileFault" type="tns:DubbiaNonRisottomissibileFault" />
  <xsd:element name="dubbiaRisottomissibileConInterventoManualeFault" type="tns:DubbiaRisottomissibileConInterventoManualeFault" />
</xsd:schema>