Easy/servicetrasmission/servicetrasmission_default/Service References/service/AnagrafePrestazioniService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.accenture.perla.it/anagrafeprestazioni" xmlns:ns1="http://com.accenture.perla.it/anagrafeprestazioni_inserimentoincarichi" name="AnagrafePrestazioniService" targetNamespace="http://com.accenture.perla.it/anagrafeprestazioni" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://com.accenture.perla.it/anagrafeprestazioni_inserimentoincarichi" elementFormDefault="qualified" targetNamespace="http://com.accenture.perla.it/anagrafeprestazioni_inserimentoincarichi" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="wsdlRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userName" type="xs:string" />
            <xs:element name="pwd" type="xs:string" />
            <xs:element name="fileName" type="xs:string" />
            <xs:element name="comunicazione" type="tns:comunicazione_type" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="comunicazione_type">
        <xs:sequence>
          <xs:element minOccurs="0" name="inserimentoIncarichi">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="nuoviIncarichi">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="dipendente" nillable="true" type="tns:dipendente_type" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="consulente" nillable="true" type="tns:consulente_type" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="codiceEnte" type="xs:long" use="required" />
              <xs:attribute name="annoRiferimento" type="xs:integer" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="esitoInserimentoIncarichi">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="esitoNuoviIncarichi">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="dipendente" nillable="true" type="tns:esitoDipendente_type" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="consulente" nillable="true" type="tns:esitoConsulente_type" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="codiceEnte" type="xs:long" use="required" />
              <xs:attribute name="annoRiferimento" type="xs:integer" use="required" />
              <xs:attribute name="esitoFile" type="tns:esito_type" use="required" />
              <xs:attribute name="esitoLogin" type="xs:string" />
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dipendente_type">
        <xs:sequence>
          <xs:element name="incaricato">
            <xs:complexType>
              <xs:sequence />
              <xs:attribute name="codiceFiscale" type="xs:string" use="required" />
              <xs:attribute name="cognome" type="xs:string" use="required" />
              <xs:attribute name="nome" type="xs:string" use="required" />
              <xs:attribute name="qualifica" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="conferente">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="nuovaPersona">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="personaFisica" type="tns:personaFisica_type" />
                      <xs:element minOccurs="0" name="personaGiuridica" type="tns:personaGiuridica_type" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="tipologia" type="xs:positiveInteger" use="required" />
              <xs:attribute name="codiceFiscale" type="xs:string" use="required" />
              <xs:attribute name="denominazione" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="incarico">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="riferimentoNormativo" type="tns:riferimentoNormativo_type" />
              </xs:sequence>
              <xs:attribute name="tipologia" type="xs:string" use="required" />
              <xs:attribute name="dataAutorizzazione" type="xs:date" use="required" />
              <xs:attribute name="dataInizio" type="xs:date" use="required" />
              <xs:attribute name="dataFine" type="xs:date" />
              <xs:attribute name="doveriUfficio" type="xs:positiveInteger" use="required" />
              <xs:attribute name="incaricoSaldato" type="xs:positiveInteger" use="required" />
              <xs:attribute name="tipoImporto" type="xs:positiveInteger" />
              <xs:attribute name="importo" type="xs:decimal" use="required" />
              <xs:attribute name="note" type="xs:string" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="pagamenti">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="nuovoPagamento">
                  <xs:complexType>
                    <xs:sequence />
                    <xs:attribute name="anno" type="xs:positiveInteger" use="required" />
                    <xs:attribute name="importo" type="xs:decimal" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="idMittente" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="personaFisica_type">
        <xs:sequence />
        <xs:attribute name="codiceFiscale" type="xs:string" use="required" />
        <xs:attribute name="partitaIva" type="xs:string" />
        <xs:attribute name="cognome" type="xs:string" use="required" />
        <xs:attribute name="nome" type="xs:string" use="required" />
        <xs:attribute name="estero" type="tns:yesNo_type" use="required" />
        <xs:attribute name="sesso" type="tns:sesso_type" />
        <xs:attribute name="dataNascita" type="xs:date" />
      </xs:complexType>
      <xs:complexType name="personaGiuridica_type">
        <xs:sequence />
        <xs:attribute name="codiceFiscale" type="xs:string" use="required" />
        <xs:attribute name="partitaIva" type="xs:string" />
        <xs:attribute name="denominazione" type="xs:string" use="required" />
        <xs:attribute name="estero" type="tns:yesNo_type" use="required" />
        <xs:attribute name="tipologiaAzienda" type="xs:positiveInteger" use="required" />
        <xs:attribute name="codiceComuneSede" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="riferimentoNormativo_type">
        <xs:sequence />
        <xs:attribute name="riferimento" type="xs:positiveInteger" use="required" />
        <xs:attribute name="data" type="xs:date" use="required" />
        <xs:attribute name="numero" type="xs:string" use="required" />
        <xs:attribute name="articolo" type="xs:string" use="required" />
        <xs:attribute name="comma" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="consulente_type">
        <xs:sequence>
          <xs:element name="incaricato">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="personaFisica" type="tns:personaFisica_type" />
                <xs:element minOccurs="0" name="personaGiuridica" type="tns:personaGiuridica_type" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="incarico">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="riferimentoNormativo" type="tns:riferimentoNormativo_type" />
              </xs:sequence>
              <xs:attribute name="semestreRiferimento" type="xs:integer" use="required" />
              <xs:attribute name="modalitaAcquisizione" type="xs:string" use="required" />
              <xs:attribute name="tipoRapporto" type="xs:string" use="required" />
              <xs:attribute name="attivitaEconomica" type="xs:string" use="required" />
              <xs:attribute name="descrizioneIncarico" type="xs:string" use="required" />
              <xs:attribute name="riferimentoRegolamento" type="tns:yesNo_type" use="required" />
              <xs:attribute name="dataAffidamento" type="xs:date" use="required" />
              <xs:attribute name="dataInizio" type="xs:date" use="required" />
              <xs:attribute name="dataFine" type="xs:date" />
              <xs:attribute name="incaricoSaldato" type="xs:positiveInteger" use="required" />
              <xs:attribute name="tipoImporto" type="xs:positiveInteger" />
              <xs:attribute name="importo" type="xs:decimal" use="required" />
              <xs:attribute name="note" type="xs:string" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="pagamenti">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="nuovoPagamento">
                  <xs:complexType>
                    <xs:sequence />
                    <xs:attribute name="anno" type="xs:positiveInteger" use="required" />
                    <xs:attribute name="semestre" type="xs:integer" use="required" />
                    <xs:attribute name="importo" type="xs:decimal" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="idMittente" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="esitoDipendente_type">
        <xs:sequence>
          <xs:element minOccurs="0" name="errori" type="tns:erroriDipendente_type" />
        </xs:sequence>
        <xs:attribute name="esito" type="tns:esito_type" use="required" />
        <xs:attribute name="idMittente" type="xs:string" use="required" />
        <xs:attribute name="id" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="erroriDipendente_type">
        <xs:sequence>
          <xs:element minOccurs="0" name="incaricato">
            <xs:complexType>
              <xs:sequence />
              <xs:attribute name="codiceFiscale" type="xs:string" />
              <xs:attribute name="cognome" type="xs:string" />
              <xs:attribute name="nome" type="xs:string" />
              <xs:attribute name="qualifica" type="xs:string" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="conferente">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="nuovaPersona">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="personaFisica" type="tns:esitoPersonaFisica_type" />
                      <xs:element minOccurs="0" name="personaGiuridica" type="tns:esitoPersonaGiuridica_type" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="tipologia" type="xs:string" />
              <xs:attribute name="codiceFiscale" type="xs:string" />
              <xs:attribute name="denominazione" type="xs:string" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="incarico">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="riferimentoNormativo" type="tns:esitoRiferimentoNormativo_type" />
              </xs:sequence>
              <xs:attribute name="tipologia" type="xs:string" />
              <xs:attribute name="dataAutorizzazione" type="xs:string" />
              <xs:attribute name="dataInizio" type="xs:string" />
              <xs:attribute name="dataFine" type="xs:string" />
              <xs:attribute name="doveriUfficio" type="xs:string" />
              <xs:attribute name="incaricoSaldato" type="xs:string" />
              <xs:attribute name="tipoImporto" type="xs:string" />
              <xs:attribute name="importo" type="xs:string" />
              <xs:attribute name="note" type="xs:string" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="pagamenti">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="nuovoPagamento">
                  <xs:complexType>
                    <xs:sequence />
                    <xs:attribute name="anno" type="xs:string" />
                    <xs:attribute name="importo" type="xs:string" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="esitoPersonaFisica_type">
        <xs:sequence />
        <xs:attribute name="codiceFiscale" type="xs:string" />
        <xs:attribute name="partitaIva" type="xs:string" />
        <xs:attribute name="cognome" type="xs:string" />
        <xs:attribute name="nome" type="xs:string" />
        <xs:attribute name="estero" type="xs:string" />
        <xs:attribute name="sesso" type="xs:string" />
        <xs:attribute name="dataNascita" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="esitoPersonaGiuridica_type">
        <xs:sequence />
        <xs:attribute name="codiceFiscale" type="xs:string" />
        <xs:attribute name="partitaIva" type="xs:string" />
        <xs:attribute name="denominazione" type="xs:string" />
        <xs:attribute name="estero" type="xs:string" />
        <xs:attribute name="tipologiaAzienda" type="xs:string" />
        <xs:attribute name="codiceComuneSede" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="esitoRiferimentoNormativo_type">
        <xs:sequence />
        <xs:attribute name="riferimento" type="xs:string" />
        <xs:attribute name="data" type="xs:string" />
        <xs:attribute name="numero" type="xs:string" />
        <xs:attribute name="articolo" type="xs:string" />
        <xs:attribute name="comma" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="esitoConsulente_type">
        <xs:sequence>
          <xs:element minOccurs="0" name="errori" type="tns:erroriConsulente_type" />
        </xs:sequence>
        <xs:attribute name="esito" type="tns:esito_type" use="required" />
        <xs:attribute name="idMittente" type="xs:string" use="required" />
        <xs:attribute name="id" type="xs:long" />
      </xs:complexType>
      <xs:complexType name="erroriConsulente_type">
        <xs:sequence>
          <xs:element minOccurs="0" name="incaricato">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="personaFisica" type="tns:esitoPersonaFisica_type" />
                <xs:element minOccurs="0" name="personaGiuridica" type="tns:esitoPersonaGiuridica_type" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="incarico">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="riferimentoNormativo" type="tns:esitoRiferimentoNormativo_type" />
              </xs:sequence>
              <xs:attribute name="semestreRiferimento" type="xs:string" />
              <xs:attribute name="modalitaAcquisizione" type="xs:string" />
              <xs:attribute name="tipoRapporto" type="xs:string" />
              <xs:attribute name="attivitaEconomica" type="xs:string" />
              <xs:attribute name="descrizioneIncarico" type="xs:string" />
              <xs:attribute name="riferimentoRegolamento" type="xs:string" />
              <xs:attribute name="dataAffidamento" type="xs:string" />
              <xs:attribute name="dataInizio" type="xs:string" />
              <xs:attribute name="dataFine" type="xs:string" />
              <xs:attribute name="incaricoSaldato" type="xs:string" />
              <xs:attribute name="tipoImporto" type="xs:string" />
              <xs:attribute name="importo" type="xs:string" />
              <xs:attribute name="note" type="xs:string" />
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="pagamenti">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="nuovoPagamento">
                  <xs:complexType>
                    <xs:sequence />
                    <xs:attribute name="anno" type="xs:string" />
                    <xs:attribute name="semestre" type="xs:string" />
                    <xs:attribute name="importo" type="xs:string" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="yesNo_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Y" />
          <xs:enumeration value="N" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="sesso_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="M" />
          <xs:enumeration value="F" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="esito_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK" />
          <xs:enumeration value="KO" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://com.accenture.perla.it/anagrafeprestazioni" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://com.accenture.perla.it/anagrafeprestazioni_inserimentoincarichi" />
      <xs:element name="InserimentoIncarichi" type="tns:InserimentoIncarichi" />
      <xs:element name="InserimentoIncarichiResponse" type="tns:InserimentoIncarichiResponse" />
      <xs:complexType name="InserimentoIncarichi">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ns1:wsdlRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InserimentoIncarichiResponse">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AnagrafePrestazioni_InserimentoIncarichi">
    <part name="InserimentoIncarichi" element="tns:InserimentoIncarichi" />
  </message>
  <message name="AnagrafePrestazioni_InserimentoIncarichiResponse">
    <part name="InserimentoIncarichiResponse" element="tns:InserimentoIncarichiResponse" />
  </message>
  <portType name="AnagrafePrestazioni">
    <operation name="InserimentoIncarichi" parameterOrder="InserimentoIncarichi">
      <input message="tns:AnagrafePrestazioni_InserimentoIncarichi" />
      <output message="tns:AnagrafePrestazioni_InserimentoIncarichiResponse" />
    </operation>
  </portType>
  <binding name="AnagrafePrestazioniBinding" type="tns:AnagrafePrestazioni">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="InserimentoIncarichi">
      <soap:operation soapAction="InserimentoIncarichi" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AnagrafePrestazioniService">
    <port name="AnagrafePrestazioniInterfaceEndpoint" binding="tns:AnagrafePrestazioniBinding">
      <soap:address location="http://www.perlapa.gov.it/AnagrafePrestazioni/1" />
    </port>
  </service>
</definitions>