Easy/bankdispositionsetup/bankdispositionsetup_bpcassinate/ORDINATIVI_pagamenti.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<xs:schema id="Sepa_pagamenti" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="flusso_ordinativi">
    <xs:annotation>
      <xs:documentation>Flusso XML per Ordinativi informatici</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identificativo_flusso">
          <xs:annotation>
            <xs:documentation>Univoco a livello di esercizio</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="esercizio" type="xs:gYear">
          <xs:annotation>
            <xs:documentation>Anno di esercizio nel formato "SSAA"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="data_ora_creazione_flusso" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Data e ora di creazione del flusso secondo il formalisno ISO8601 "SSAA-MM-GGTHH:MM:SS"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="codice_ABI_BT">
          <xs:annotation>
            <xs:documentation>Codice ABI banca tesoreria</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_ente">
          <xs:annotation>
            <xs:documentation>Partita IVA dell'ente oppure codice MIUR</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="11"/>
              <xs:minLength value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="descrizione_ente">
          <xs:annotation>
            <xs:documentation>Denominazione dell'ente</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="90"/>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_ente_BT">
          <xs:annotation>
            <xs:documentation>Codice ente presso tesoriere</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="riferimento_ente" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice concordato tra PA e BT per particolari esigenze</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="12"/>
              <xs:minLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="reversale" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="mandato" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reversale">
    <xs:annotation>
      <xs:documentation>Dati reversale</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tipo_operazione">
          <xs:annotation>
            <xs:documentation>Tipo di operazione</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="INSERIMENTO"/>
              <xs:enumeration value="VARIAZIONE"/>
              <xs:enumeration value="ANNULLO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_reversale">
          <xs:annotation>
            <xs:documentation>Numero della reversale</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="data_reversale" type="xs:date">
          <xs:annotation>
            <xs:documentation>Data della reversale nel formato "SSAA-MM-GG"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="importo_reversale">
          <xs:annotation>
            <xs:documentation>Importo della reversale</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="conto_evidenza" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Conto evidenza concordato fra la PA e la BT</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element ref="informazioni_versante" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mandato">
    <xs:annotation>
      <xs:documentation>Dati mandato</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tipo_operazione">
          <xs:annotation>
            <xs:documentation>Tipo di operazione</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="INSERIMENTO"/>
              <xs:enumeration value="VARIAZIONE"/>
              <xs:enumeration value="ANNULLO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_mandato">
          <xs:annotation>
            <xs:documentation>Numero del mandato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="data_mandato" type="xs:date">
          <xs:annotation>
            <xs:documentation>Data di emissione del mandato nel formato "SSAA-MM-GG"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="importo_mandato">
          <xs:annotation>
            <xs:documentation>Importo del mandato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="conto_evidenza" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Conto evidenza concordato fra la PA e la BT</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="estremi_provvedimento_autorizzativo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipologia ed eventuali estremi del provvedimento di autorizzazione della spesa</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="50"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="responsabile_provvedimento" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Responsabile del provvedimento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="25"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ufficio_responsabile" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Eventuale ufficio emittente</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="25"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="informazioni_beneficiario" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bilancio">
    <xs:annotation>
      <xs:documentation>Dati bilancio</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codifica_bilancio">
          <xs:annotation>
            <xs:documentation>Codice di bilancio</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="descrizione_codifica" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Descrizione codifica di bilancio </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="40"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="gestione">
          <xs:annotation>
            <xs:documentation>Tipo di gestione</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COMPETENZA"/>
              <xs:enumeration value="RESIDUO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="anno_residuo" type="xs:gYear" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Anno del residuo nel formato "SSAA"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numero_articolo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Numero dell'articolo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="voce_economica">
          <xs:annotation>
            <xs:documentation>Voce economica</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo_bilancio" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Stanziamento di bilancio </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="funzionario_delegato">
    <xs:annotation>
      <xs:documentation>Funzionario delegato</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codice_funzionario_delegato">
          <xs:annotation>
            <xs:documentation>Codice concordato fra PA e BT</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="16"/>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo_funzionario_delegato">
          <xs:annotation>
            <xs:documentation>Importo attribuito al funz delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tipologia_pagamento_funzionario_delegato">
          <xs:annotation>
            <xs:documentation>Tipologia pagamento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50"/>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_pagamento_funzionario_delegato">
          <xs:annotation>
            <xs:documentation>Numero pagamento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5"/>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="informazioni_versante">
    <xs:annotation>
      <xs:documentation>Informazioni sul versante</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="progressivo_versante">
          <xs:annotation>
            <xs:documentation>Numero progressivo del versante </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo_versante">
          <xs:annotation>
            <xs:documentation>Importo versante nella reversale</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tipo_riscossione">
          <xs:annotation>
            <xs:documentation>Tipo di riscossione</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CASSA"/>
              <xs:enumeration value="ACCREDITO BANCA D'ITALIA"/>
              <xs:enumeration value="REGOLARIZZAZIONE"/>
              <xs:enumeration value="PRELIEVO DA CC POSTALE"/>
              <xs:enumeration value="RITENUTE"/>
              <xs:enumeration value="REGOLARIZZAZIONE CONTABILE"/>
              <xs:enumeration value="STIPENDI"/>
              <xs:enumeration value="ASSEGNO CIRCOLARE"/>
              <xs:enumeration value="ASSEGNO BANCARIO E POSTALE"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_ccp" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Ccp per PRELIEVO DA CC POSTALE</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tipo_entrata" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipo di entrata</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FRUTTIFERO"/>
              <xs:enumeration value="INFRUTTIFERO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="destinazione" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Destinazione entrata</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="LIBERA"/>
              <xs:enumeration value="VINCOLATA"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="causale">
          <xs:annotation>
            <xs:documentation>Descrizione estesa della causale dell'incasso</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="160"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        
        <xs:element ref="versante"/>
        <xs:element ref="mandato_associato" minOccurs="0"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="classificazione">
    <xs:annotation>
      <xs:documentation>Classificazione Siope</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codice_cgu">
          <xs:annotation>
            <xs:documentation>Codice gestionale entrata SIOPE</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_cup" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice Unico di progetto</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_cpv" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Common Procurement Vocabulary</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo">
          <xs:annotation>
            <xs:documentation>Importo codice gestionale uscita</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bollo">
    <xs:annotation>
      <xs:documentation>Informazioni bollo</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assoggettamento_bollo">
          <xs:annotation>
            <xs:documentation>Assoggettamento bollo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ESENTE BOLLO"/>
              <xs:enumeration value="ASSOGGETTATO BOLLO A CARICO ENTE"/>
              <xs:enumeration value="ASSOGGETTATO BOLLO A CARICO VERSANTE"/>
              <xs:enumeration value="ASSOGGETTATO BOLLO A CARICO BENEFICIARIO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="causale_esenzione_bollo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Motivazione esenzione bollo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="160"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="versante">
    <xs:annotation>
      <xs:documentation>Dati versante</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="anagrafica_versante">
          <xs:annotation>
            <xs:documentation>Nominativo o ragione sociale del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="60"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="provincia_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Provincia del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="stato_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Stato del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="indirizzo_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Indirizzo del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cap_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>CAP del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="localita_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Località del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="partita_iva_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Partita IVA del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_fiscale_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice fiscale del versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="16"/>
              <xs:minLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="data_nascita_versante" type="xs:date" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Data di nascita del versante nel formato "SSAA-MM-GG"</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="informazioni_aggiuntive">
    <xs:annotation>
      <xs:documentation>Informazioni aggiuntive</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lingua" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Lingua stampa ricevute</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ITALIANO"/>
              <xs:enumeration value="TEDESCO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="riferimento_documento_esterno" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Riferimento a documento cartaceo o elettronico esterno</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="160"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sospeso">
    <xs:annotation>
      <xs:documentation>Dati sospeso</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numero_provvisorio">
          <xs:annotation>
            <xs:documentation>Numero provvisorio sopeso</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo_provvisorio" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Importo provvisorio sospeso </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mandato_associato">
    <xs:annotation>
      <xs:documentation>Dati mandato associato a reversale</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numero_mandato">
          <xs:annotation>
            <xs:documentation>Numero del mandato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="progressivo_beneficiario">
          <xs:annotation>
            <xs:documentation>Numero progressivo beneficiario </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo_associato" minOccurs="0">
          <xs:annotation>
            <xs:documentation>porto mandato associato al versante</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="informazioni_beneficiario">
    <xs:annotation>
      <xs:documentation>Informazioni sul beneficiario</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="progressivo_beneficiario">
          <xs:annotation>
            <xs:documentation>Numero progressivo beneficiario nell'ordinativo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="importo_beneficiario">
          <xs:annotation>
            <xs:documentation>Importo relativo al beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tipo_pagamento">
          <xs:annotation>
            <xs:documentation>Tipo di pagamento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CASSA"/>
              <xs:enumeration value="BONIFICO BANCARIO E POSTALE"/>
              <xs:enumeration value="BONIFICO CON SPESE A CARICO ENTE"/>
              <xs:enumeration value="ASSEGNO BANCARIO E POSTALE"/>
              <xs:enumeration value="ASSEGNO CIRCOLARE"/>
              <xs:enumeration value="ACCREDITO CONTO CORRENTE POSTALE"/>
              <xs:enumeration value="ACCREDITO TESORERIA PROVINCIALE STATO PER TAB A"/>
              <xs:enumeration value="ACCREDITO TESORERIA PROVINCIALE STATO PER TAB B"/>
              <xs:enumeration value="GIROFONDI TAB A"/>
              <xs:enumeration value="GIROFONDI TAB B"/>
              <xs:enumeration value="VAGLIA POSTALE"/>
              <xs:enumeration value="VAGLIA TESORO"/>
              <xs:enumeration value="REGOLARIZZAZIONE"/>
              <xs:enumeration value="ADDEBITO PREAUTORIZZATO"/>
              <xs:enumeration value="DISPOSIZIONE DOCUMENTO ESTERNO"/>
              <xs:enumeration value="F24EP"/>
              <xs:enumeration value="REGOLARIZZAZIONE CONTABILE"/>
              <xs:enumeration value="STIPENDI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="impignorabili" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Pagamento relativo a somme non pignorabili</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="SI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="frazionabile" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Frazionabilità pagamento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="gestione_provvisoria" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Mancata approvazione bilancio di previsione entro i termini di legge</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="SI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="data_esecuzione_pagamento" type="xs:date" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Data di esecuzione del pagamento nel formato "SSAA-MM-GG"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="data_scadenza_pagamento" type="xs:date" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Data di scadenza del pagamento nel formato "SSAA-MM-GG"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="destinazione" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Destinazione somma</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="LIBERA"/>
              <xs:enumeration value="VINCOLATA"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_conto_banca_italia_ente_ricevente" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Numero di conto o contabilità speciale nel caso di operazioni di giroconto</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="tipo_contabilita_ente_ricevente" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tipo di contabilità ente ricevente</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FRUTTIFERA"/>
              <xs:enumeration value="INFRUTTIFERA"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice versamento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="causale">
          <xs:annotation>
            <xs:documentation>Descrizione estesa della causale</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="160"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="spese" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Spese</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="soggetto_destinatario_delle_spese">
                <xs:annotation>
                  <xs:documentation>destinatario spese</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="A CARICO ENTE"/>
                    <xs:enumeration value="A CARICO BENEFICIARIO"/>
                    <xs:enumeration value="ESENTE"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="natura_pagamento" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Informazione concordata fra PA e BT</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                    <xs:minLength value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="bollo"/>
        <xs:element ref="classificazione" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="beneficiario"/>
        <xs:element ref="sospeso" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ritenute" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="delegato" minOccurs="0"/>
        <xs:element ref="creditore_effettivo" minOccurs="0"/>
        <xs:element ref="piazzatura" minOccurs="0"/>
        <xs:element ref="sepa_credit_transfer" minOccurs="0"/>
        <xs:element ref="informazioni_aggiuntive" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="beneficiario">
    <xs:annotation>
      <xs:documentation>Dati beneficiario</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="anagrafica_beneficiario">
          <xs:annotation>
            <xs:documentation>Nominativo o ragione sociale del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="60"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="provincia_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Provincia del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="stato_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Stato del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="indirizzo_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Indirizzo del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cap_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>CAP del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="localita_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Località del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="partita_iva_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Partita IVA del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_fiscale_beneficiario" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice fiscale del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="16"/>
              <xs:minLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delegato">
    <xs:annotation>
      <xs:documentation>Dati delegato</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="anagrafica_delegato">
          <xs:annotation>
            <xs:documentation>Anagrafica del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="60"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_fiscale_delegato">
          <xs:annotation>
            <xs:documentation>Codice fiscale del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="11"/>
              <xs:maxLength value="16"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="indirizzo_delegato" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Indirizzo del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cap_delegato" minOccurs="0">
          <xs:annotation>
            <xs:documentation>CAP del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="localita_delegato" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Località del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="provincia_delegato" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Provincia del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="stato_delegato" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Stato del delegato</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creditore_effettivo">
    <xs:annotation>
      <xs:documentation>Dati creditore_effettivo</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="anagrafica_creditore_effettivo">
          <xs:annotation>
            <xs:documentation>Anagrafica del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="60"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_fiscale_creditore_effettivo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice fiscale del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="11"/>
              <xs:maxLength value="16"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="indirizzo_creditore_effettivo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Indirizzo del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cap_creditore_effettivo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>CAP del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="localita_creditore_effettivo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Località del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="provincia_creditore_effettivo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Provincia del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="stato_creditore_effettivo">
          <xs:annotation>
            <xs:documentation>Stato del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="partita_iva_creditore_effettivo" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Partita IVA del creditore effettivo</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sepa_credit_transfer">
    <xs:annotation>
      <xs:documentation>Per clienti con conti SEPA</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="iban">
          <xs:annotation>
            <xs:documentation>Codice IBAN banca domiciliataria del conto corrente del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="34"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="bic" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Bank Identifier Code</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="identificativo_end_to_end" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Riferimento univoco pagamento</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="35"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="piazzatura">
    <xs:annotation>
      <xs:documentation>Coordinate bancarie accredito importo</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="abi_beneficiario">
          <xs:annotation>
            <xs:documentation>ABI banca domiciliataria del conto corrente del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cab_beneficiario">
          <xs:annotation>
            <xs:documentation>CAB banca domiciliataria del conto corrente del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_conto_corrente_beneficiario">
          <xs:annotation>
            <xs:documentation>Numero di conto corrente del beneficiario</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="caratteri_controllo">
          <xs:annotation>
            <xs:documentation>Caratteri di controllo formalismo IBAN</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_paese">
          <xs:annotation>
            <xs:documentation>Codice identificativo univoco paese area Euro</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_cin">
          <xs:annotation>
            <xs:documentation>Carattere di controllo formalismo BBAN</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="denominazione_banca_destinataria" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Denominazione, agenzia e indirizzo della banca destinataria</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="50"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codice_swift" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Codice swift banca destinataria</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ritenute">
    <xs:annotation>
      <xs:documentation>Importo da trattenere</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="importo_ritenute">
          <xs:annotation>
            <xs:documentation>Importo delle ritenute</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="17"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="numero_reversale" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Numero reversale associata alle ritenute</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="progressivo_versante" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Progressivo versante nella reversale associata alle ritenute</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="codice_cup">
    <xs:annotation>
      <xs:documentation>Codice Unico Progetto</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="15"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
