Easy/nso_vendita/nso_vendita_default/Web References/webReference/webProt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ottieniProtocolloFatturaAcquisto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataDocumento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signedxml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identificativo_sdi" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="position" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_sdi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ottieniProtocolloFatturaAcquistoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ottieniProtocolloFatturaAcquistoResult" type="tns:datiProtocollo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="datiProtocollo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nProt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ottieniProtocolloMessaggioFatturaAcquisto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataDocumento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idnso_vendita" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ottieniProtocolloMessaggioFatturaAcquistoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ottieniProtocolloMessaggioFatturaAcquistoResult" type="tns:datiProtocollo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ottieniProtocolloFatturaVendita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataDocumento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signedxml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idsdi_vendita" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ottieniProtocolloFatturaVenditaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ottieniProtocolloFatturaVenditaResult" type="tns:datiProtocollo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ottieniProtocolloMessaggioFatturaVendita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeDocumento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataDocumento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idsi_vendita" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ottieniProtocolloMessaggioFatturaVenditaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ottieniProtocolloMessaggioFatturaVenditaResult" type="tns:datiProtocollo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ottieniProtocolloFatturaAcquistoSoapIn">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloFatturaAcquisto" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloFatturaAcquistoSoapOut">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloFatturaAcquistoResponse" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloMessaggioFatturaAcquistoSoapIn">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloMessaggioFatturaAcquisto" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloMessaggioFatturaAcquistoSoapOut">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloMessaggioFatturaAcquistoResponse" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloFatturaVenditaSoapIn">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloFatturaVendita" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloFatturaVenditaSoapOut">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloFatturaVenditaResponse" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloMessaggioFatturaVenditaSoapIn">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloMessaggioFatturaVendita" />
  </wsdl:message>
  <wsdl:message name="ottieniProtocolloMessaggioFatturaVenditaSoapOut">
    <wsdl:part name="parameters" element="tns:ottieniProtocolloMessaggioFatturaVenditaResponse" />
  </wsdl:message>
  <wsdl:portType name="webProtSoap">
    <wsdl:operation name="ottieniProtocolloFatturaAcquisto">
      <wsdl:input message="tns:ottieniProtocolloFatturaAcquistoSoapIn" />
      <wsdl:output message="tns:ottieniProtocolloFatturaAcquistoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloMessaggioFatturaAcquisto">
      <wsdl:input message="tns:ottieniProtocolloMessaggioFatturaAcquistoSoapIn" />
      <wsdl:output message="tns:ottieniProtocolloMessaggioFatturaAcquistoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloFatturaVendita">
      <wsdl:input message="tns:ottieniProtocolloFatturaVenditaSoapIn" />
      <wsdl:output message="tns:ottieniProtocolloFatturaVenditaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloMessaggioFatturaVendita">
      <wsdl:input message="tns:ottieniProtocolloMessaggioFatturaVenditaSoapIn" />
      <wsdl:output message="tns:ottieniProtocolloMessaggioFatturaVenditaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webProtSoap" type="tns:webProtSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ottieniProtocolloFatturaAcquisto">
      <soap:operation soapAction="http://tempuri.org/ottieniProtocolloFatturaAcquisto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloMessaggioFatturaAcquisto">
      <soap:operation soapAction="http://tempuri.org/ottieniProtocolloMessaggioFatturaAcquisto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloFatturaVendita">
      <soap:operation soapAction="http://tempuri.org/ottieniProtocolloFatturaVendita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloMessaggioFatturaVendita">
      <soap:operation soapAction="http://tempuri.org/ottieniProtocolloMessaggioFatturaVendita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="webProtSoap12" type="tns:webProtSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ottieniProtocolloFatturaAcquisto">
      <soap12:operation soapAction="http://tempuri.org/ottieniProtocolloFatturaAcquisto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloMessaggioFatturaAcquisto">
      <soap12:operation soapAction="http://tempuri.org/ottieniProtocolloMessaggioFatturaAcquisto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloFatturaVendita">
      <soap12:operation soapAction="http://tempuri.org/ottieniProtocolloFatturaVendita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ottieniProtocolloMessaggioFatturaVendita">
      <soap12:operation soapAction="http://tempuri.org/ottieniProtocolloMessaggioFatturaVendita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webProt">
    <wsdl:port name="webProtSoap" binding="tns:webProtSoap">
      <soap:address location="http://10.10.0.107/webProt/webProt.asmx" />
    </wsdl:port>
    <wsdl:port name="webProtSoap12" binding="tns:webProtSoap12">
      <soap12:address location="http://10.10.0.107/webProt/webProt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>