Easy/bankdispositionsetup/bankdispositionsetup_import/ORDINATIVI_incassi.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by BPS (BPS) -->
<!-- SCHEMA ORDINATIVI SEPA 2.0  -->
<xs:schema id="Sepa_incassi" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="OnlyNumMax7">
		<xs:annotation>
			<xs:documentation>Solo numeri lunghezza massima 7</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="9999999" />
			<xs:minInclusive value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="anyTAG" mixed="true">
		<xs:annotation>
			<xs:documentation>struttura XML ente</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="informazioni_aggiuntive">
		<xs:annotation>
			<xs:documentation>struttura informazioni aggiuntive</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lingua" default="ITALIANO" minOccurs="0">
					<xs:annotation>
						<xs:documentation>può assumere i valori:
ITALIANO
TEDESCO</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="20" />
							<xs:enumeration value="ITALIANO" />
							<xs:enumeration value="TEDESCO" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="riferimento_documento_esterno" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reversale">
		<xs:annotation>
			<xs:documentation>struttura reversale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tipo_operazione">
					<xs:annotation>
						<xs:documentation>può assumere i valori:
INSERIMENTO
VARIAZIONE
ANNULLO
SOSTITUZIONE</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="INSERIMENTO" />
							<xs:enumeration value="VARIAZIONE" />
							<xs:enumeration value="ANNULLO" />
							<xs:enumeration value="SOSTITUZIONE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numero_reversale" type="OnlyNumMax7" />
				<xs:element name="data_reversale">
					<xs:simpleType>
						<xs:restriction base="xs:date" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="importo_reversale">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="15" />
							<xs:fractionDigits value="2" />
							<xs:minInclusive value="0.01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="conto_evidenza" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="informazioni_versante" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="progressivo_versante" type="OnlyNumMax7">
								<xs:annotation>
									<xs:documentation>numero progressivo dei versanti all'interno dello stesso ordinativo</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="importo_versante">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="15" />
										<xs:fractionDigits value="2" />
										<xs:minInclusive value="0.01" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipo_riscossione">
								<xs:annotation>
									<xs:documentation>può assumere i valori:
CASSA
ACCREDITO BANCA D'ITALIA
REGOLARIZZAZIONE
REGOLARIZZAZIONE ACCREDITO BANCA D'ITALIA
PRELIEVO DA CC POSTALE</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CASSA" />
										<xs:enumeration value="ACCREDITO BANCA D'ITALIA" />
										<xs:enumeration value="REGOLARIZZAZIONE" />
										<xs:enumeration value="REGOLARIZZAZIONE ACCREDITO BANCA D'ITALIA" />
										<xs:enumeration value="PRELIEVO DA CC POSTALE" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numero_ccp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Contiene il numero del conto corrente postale, da utilizzare con il tipo_riscossione="PRELIEVO DA CC POSTALE"</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger" />
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipo_entrata" minOccurs="0">
								<xs:annotation>
									<xs:documentation>può assumere i valori FRUTTIFERO
INFRUTTIFERO</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="FRUTTIFERO" />
										<xs:enumeration value="INFRUTTIFERO" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="destinazione" minOccurs="0">
								<xs:annotation>
									<xs:documentation>LIBERA:ENTRATA LIBERA
VINCOLATA:ENTRATA VINCOLATA</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="LIBERA" />
										<xs:enumeration value="VINCOLATA" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="classificazione" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="codice_cge">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{4}" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="importo">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="15" />
													<xs:fractionDigits value="2" />
													<xs:minInclusive value="0.01" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="bollo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="assoggettamento_bollo">
											<xs:annotation>
												<xs:documentation>può assumere i valori:
ESENTE BOLLO
ASSOGGETTATO BOLLO A CARICO ENTE
ASSOGGETTATO BOLLO A CARICO VERSANTE</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ESENTE BOLLO" />
													<xs:enumeration value="ASSOGGETTATO BOLLO A CARICO ENTE" />
													<xs:enumeration value="ASSOGGETTATO BOLLO A CARICO VERSANTE" />
													<xs:enumeration value="NON APPLICABILE" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="causale_esenzione_bollo" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string" />
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="versante" />
							<xs:element name="causale">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sospeso" minOccurs="0" maxOccurs="4000">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="numero_provvisorio" type="OnlyNumMax7" />
										<xs:element name="importo_provvisorio">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="15" />
													<xs:fractionDigits value="2" />
													<xs:minInclusive value="0.01" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="mandato_associato" minOccurs="0" maxOccurs="10" />
							<xs:element ref="informazioni_aggiuntive" minOccurs="0" />
							<xs:element name="dati_a_disposizione_ente_versante" minOccurs="0">
								<xs:annotation>
									<xs:documentation>TAG utilizzato per inserire informazioni utilizzate solamente dell'ente</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="note">
											<xs:simpleType>
												<xs:restriction base="xs:string">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dati_a_disposizione_ente_reversale" type="anyTAG" minOccurs="0">
					<xs:annotation>
						<xs:documentation>TAG utilizzato per inserire informazioni utilizzate solamente dell'ente</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="num_progressivo_versante_univoco">
			<xs:selector xpath="informazioni_versante" />
			<xs:field xpath="progressivo_versante" />
		</xs:unique>
	</xs:element>
	<xs:element name="flusso_ordinativi">
		<xs:annotation>
			<xs:documentation>XML Flusso Ordinativi SEPA</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codice_ABI_BT">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:pattern value="05696" />
							<xs:enumeration value="05696" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="identificativo_flusso">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="data_ora_creazione_flusso" type="xs:dateTime" minOccurs="0" />
				<xs:element name="codice_ente">
					<xs:annotation>
						<xs:documentation>codice alfanumerico che può contenere:
Codice ISTAT
Codcie MIUR
Codice SIA
ecc.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="descrizione_ente">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_ente_BT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{1,7}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="riferimento_ente" minOccurs="0">
					<xs:annotation>
						<xs:documentation>codice concordato tra ente e banca</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="esercizio">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:minInclusive value="1999" />
							<xs:maxInclusive value="2099" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="reversale" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="num_mandato_univoco">
			<xs:selector xpath="mandato" />
			<xs:field xpath="numero_mandato" />
		</xs:unique>
		<xs:unique name="num_reversale_univoco">
			<xs:selector xpath="reversale" />
			<xs:field xpath="numero_reversale" />
		</xs:unique>
	</xs:element>
	<xs:element name="piazzatura">
		<xs:annotation>
			<xs:documentation>struttura piazzatura, da valorizzare nel caso il tipo_pagamento="BONIFICO BANCARIO E POSTALE"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="abi_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:minInclusive value="1" />
							<xs:maxInclusive value="99999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cab_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:minInclusive value="1" />
							<xs:maxInclusive value="99999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numero_conto_corrente_beneficiario">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="12" />
							<xs:pattern value="[0-9a-zA-Z,/, ,.,\-]{1,12}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="caratteri_controllo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_cin" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_paese" default="IT" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="2" />
							<xs:pattern value="\c{2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="denominazione_banca_destinataria" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sepa_credit_transfer">
		<xs:annotation>
			<xs:documentation>struttura SEPA Credit Transfer da valorizzare nel caso il tipo_pagamento="SEPA CREDIT TRANSFER"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="iban">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="34" />
							<xs:pattern value="[A-Z]{2}\d{2}[A-Z|0-9]{5,30}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bic" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="8" />
							<xs:maxLength value="11" />
							<xs:pattern value="[A-Z|a-z||0-9]{11}" />
							<xs:pattern value="[A-Z|a-z||0-9]{8}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="identificativo_end_to_end" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="creditore_effettivo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="anagrafica_creditore_effettivo">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="indirizzo_creditore_effettivo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="cap_creditore_effettivo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localita_creditore_effettivo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="provincia_creditore_effettivo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="stato_creditore_effettivo">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2" />
							<xs:maxLength value="2" />
							<xs:pattern value="[A-Z]{2,2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="partita_iva_creditore_effettivo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_fiscale_creditore_effettivo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="funzionario_delegato">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codice_funzionario_delegato">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[A-Z|a-z||0-9]{16}" />
							<xs:pattern value="[A-Z|a-z||0-9]{11}" />
							<xs:pattern value="\d{1,7}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="importo_funzionario_delegato">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="15" />
							<xs:fractionDigits value="2" />
							<xs:minInclusive value="0.01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tipologia_pagamento_funzionario_delegato">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="numero_pagamento_funzionario_delegato">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="delegato">
		<xs:annotation>
			<xs:documentation>anagrafica soggetto autorizzato a rilasciare quietanza</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="anagrafica_delegato">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="indirizzo_delegato" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="cap_delegato" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="16" />
							<xs:pattern value="\d{5}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localita_delegato" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="provincia_delegato" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="stato_delegato" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2" />
							<xs:maxLength value="2" />
							<xs:pattern value="[A-Z]{2,2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_fiscale_delegato" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
							<xs:pattern value="[A-Z|a-z||0-9| ,\-,_]{16}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="beneficiario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="anagrafica_beneficiario">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="indirizzo_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="cap_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="16" />
							<xs:pattern value="\d{5}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localita_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="provincia_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="stato_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2" />
							<xs:maxLength value="2" />
							<xs:pattern value="[A-Z]{2,2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="partita_iva_beneficiario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
							<xs:pattern value="[A-Z|a-z||0-9| ,\-,_]{1,16}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_fiscale_beneficiario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
							<xs:pattern value="[A-Z|a-z||0-9| ,\-,_]{1,16}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="versante">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="anagrafica_versante">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="indirizzo_versante" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="cap_versante" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="16" />
							<xs:pattern value="\d{5}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="localita_versante" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="provincia_versante" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="stato_versante" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2" />
							<xs:maxLength value="2" />
							<xs:pattern value="[A-Z]{2,2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="partita_iva_versante" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
							<xs:pattern value="[A-Z|a-z||0-9| ,\-,_]{1,16}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_fiscale_versante" minOccurs="0">
					<xs:annotation>
						<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="35" />
							<xs:pattern value="[A-Z|a-z||0-9| ,\-,_]{1,16}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mandato_associato">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numero_mandato" type="OnlyNumMax7" />
				<xs:element name="progressivo_beneficiario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger" />
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ritenute">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="importo_ritenute">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="15" />
							<xs:fractionDigits value="2" />
							<xs:minInclusive value="0.01" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numero_reversale" type="OnlyNumMax7" minOccurs="0" />
				<xs:element name="progressivo_versante" type="OnlyNumMax7" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>